.about-me {
    padding: 20px;
    text-align: center;
}

.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

.about-me-bio {
    text-align: justify;
    margin: 20px 0;
}

.about-me-bio h2 {
    text-align: center;
}